{% extends 'base.html' %}

{% block title %}
    Part Details
{% endblock %}

{% block content %}
    <div class="row justify-content-between pt-2">
            <div class="col-md-5">
                <div style="height: 25rem; width: auto" class="text-center">
                    <img src="{{ MEDIA_URL }}{{ part.image.url }}" alt="{{ part.name }}" class="img-fluid" style="height: 25rem">
                </div>
                <div class="text-center mt-3">
                <h5>{{ part.name }}</h5>
                <img src="{{ MEDIA_URL }}{{ part.manufacturer.image.url }}" alt="{{ part.manufacturer.name }}" class="img-fluid mb-3" style="width: 15rem;height: 5rem">
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="mb-3">Part description: </h4>
                <p class="mb-3">{{ part.description }}</p>
                <p class="mb-3">Compatible car: {{ part.compatible_car }}</p>
                <p class="mb-3 fw-bold">{{ part.price }} ден.</p>
                <p class="mb-3">Available: {{ part.available }}</p>
                {% if user.is_authenticated and not user.is_superuser %}
                    {% if part.available > 0 %}
                        {% if not isAlreadyInCart %}
                        <form method="POST" action="{% url 'add_to_cart' part.id %}">
                          {% csrf_token %}
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control w-25 d-inline">

                          <button type="submit" class="btn btn-outline-danger">Add to Cart</button>
                        </form>
                        {% else %}
                            <p class="text-danger">Part already in cart</p>
                        {% endif %}
                    {% else %}
                        <p class="text-danger">Out of stock</p>
                    {% endif %}
                {% else %}
                    <p class="text-danger">You must be logged in as user to add to cart</p>
                    <a class="btn btn-primary" href="{% url 'login' %}">Login now</a>
                {% endif %}
            </div>
    </div>

{% endblock %}