{% extends 'base.html' %}

{% block title %}
    Part Details
{% endblock %}

{% block content %}
    <div class="row justify-content-between pt-2">
            <div class="col-md-5">
                <div style="height: 25rem; width: auto" class="text-center">
                    <img src="{{ MEDIA_URL }}{{ part.image.url }}" alt="{{ part.name }}" class="img-fluid" style="height: 25rem">
                </div>
                <div class="text-center mt-3">
                <h5>{{ part.name }}</h5>
                <img src="{{ MEDIA_URL }}{{ part.manufacturer.image.url }}" alt="{{ part.manufacturer.name }}" class="img-fluid mb-3" style="width: 15rem;height: 5rem">
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="mb-3">Part description: </h4>
                <p class="mb-3">{{ part.description }}</p>
                <p class="mb-3">Compatible car: {{ part.compatible_car }}</p>
                <p class="mb-3 fw-bold">{{ part.price }} ден.</p>
                <p class="mb-3">Available: {{ part.available }}</p>
                {% if user.is_authenticated and not user.is_superuser %}
                    {% if part.available > 0 %}
                        {% if not isAlreadyInCart %}
                        <form method="POST" action="{% url 'add_to_cart' part.id %}">
                          {% csrf_token %}
                            {% if error %}
                                <label for="quantity">Quantity:</label>
                                <input type="number" id="quantity" name="quantity" value={{ quantity }} min="1" class="form-control w-25 d-inline">
                                <button type="submit" class="btn btn-outline-danger">Add to Cart</button>
                                <div class="bg-danger text-white text-uppercase d-flex align-items-center justify-content-center mb-3 mt-3" style="height: 50px">
                                    <span>You have entered an invalid number. Please try again</span>
                                </div>
                            {% elif success %}
                                <label for="quantity">Quantity:</label>
                                <span>{{ quantity }}</span>
                                <button type="submit" disabled class="btn btn-outline-danger">Add to Cart</button>
                                <div class="bg-success text-white text-uppercase d-flex align-items-center justify-content-center mb-3 mt-3" style="height: 50px">
                                    <span>The part was successfully added to your cart!</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-around mb-3 mt-3">
                                    <a class="btn btn-dark text-white" href="{% url 'parts' %}">Browse more parts</a>
                                    <a class="btn btn-danger" href="{% url 'shopping_cart' %}">See your shopping cart</a>
                                </div>
                            {% else %}
                                  <label for="quantity">Quantity:</label>
                                  <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control w-25 d-inline">
                                  <button type="submit" class="btn btn-outline-danger">Add to Cart</button>
                            {% endif %}

                        </form>
                        {% else %}
                            <p class="text-danger">Part already in cart</p>
                        {% endif %}
                    {% else %}
                        <p class="text-danger">Out of stock</p>
                    {% endif %}
                {% else %}
                    <p class="text-danger">You must be logged in as user to add to cart</p>
                    <a class="btn btn-primary" href="{% url 'login' %}">Login now</a>
                {% endif %}
            </div>
    </div>

{% endblock %}